/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilos específicos para el formulario */
form {
    max-width: 400px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}
/* Estilos específicos carrousel */
.carrusel {
    width: 90%;
    max-width: 120em;
    padding: 2em;
    color: var(--negro);
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
    box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
    overflow: hidden;
  }
  
  .carrusel .grande {
    width: 200%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: var(--negro);
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
    box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
    padding: 2em;
    transition: all 0.5s ease;
    transform: translateX(0%);
  }
  
  .carrusel .img {
    width: calc( 100% / 2 - 2em);
    min-height: 10vh;
    color: var(--negro);
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
    box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  }
  
  .carrusel .puntos {
    width: 100%;
    margin: 1em 0 0;
    padding: 0.4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .carrusel .punto {
    width: 2em;
    height: 2em;
    margin: 1em 1em 0;
    color: var(--negro);
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
    box-shadow: 0.6em 0.6em 1.2em var(--sombra-ppal), -0.6em -0.6em 1.2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  }
  
  .carrusel .punto.activo {
    background-color: lightblue;
  }